@import url('https://fonts.googleapis.com/css?family=Ultra&display=swap');
$round: 'Ultra', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');
$score: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
$scoreHuman: 'Open Sans Condensed', sans-serif;
$scoreRobot: 'Open Sans Condensed', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
$human: 'Audiowide', cursive;
$robot: 'Audiowide', cursive;

@import url('https://fonts.googleapis.com/css?family=Medula+One&display=swap');
$humanChoice: 'Medula One', cursive;
$robotChoice: 'Medula One', cursive;

body {
    background: url(./pictures/wordcloud.png) no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    width: 99vw;
    height: 98vh;
}

#panel {
    position: relative;
    margin-top: 1em;
    left: 50%;
    transform: translateX(-50%);
    width: 86vw;
    height: 30vh;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    #score {
        height: 100%;
        color: #fff;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        #scoreHuman {
            width: 22%;
            height: 87%;
            border: solid violet 2px;
            position: relative;
            margin-top: 2.2em;
            #human {
                border: solid red 1px;
                text-align: left;
                list-style-type: none;
                padding-left: 3em;
                height: 22vh;
                #humanTitle {
                    border: solid greenyellow 1px;
                    font-family: $score;
                }
                #humanBestOf {
                    border: solid greenyellow 1px;
                    font-family: $scoreHuman;
                }
                #humanStars {
                    border: solid greenyellow 1px;
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    li {
                        padding-right: 1em;
                    }
                }
            }
        }
        #round {
            border: solid blueviolet 1px;
            position: relative;
            width: 56%;
            #roundNumber {
                border: solid greenyellow 1px;
                h1 {
                    border: solid greenyellow 1px;
                    font-family: $round;
                    text-align: center;
                }
            }
            #playersChoice {
                border: solid greenyellow 1px;
                #humanChoice {
                    border: solid greenyellow 1px;
                    text-align: left;
                    h2 {
                        border: solid greenyellow 1px;
                        font-family: $human;
                    }
                    h3 {
                        border: solid greenyellow 1px;
                        font-family: $humanChoice;
                    }
                }
                #robotChoice {
                    border: solid greenyellow 1px;
                    text-align: right;
                    h2 {
                        border: solid greenyellow 1px;
                        font-family: $robot;
                    }
                    h3 {
                        border: solid greenyellow 1px;
                        font-family: $robotChoice;
                    }
                }
            }
        }
        #scoreRobot {
            width: 22%;
            height: 87%;
            border: solid yellowgreen 1px;
            position: relative;
            margin-top: 2.2em;
            #robot {
                border: solid black 1px;
                text-align: right;
                list-style-type: none;
                margin-right: 3em;
                height: 22vh;
                #robotTitle {
                    border: solid greenyellow 1px;
                    font-family: $score;
                }
                #robotBestOf {
                    border: solid greenyellow 1px;
                    font-family: $scoreRobot;
                }
                #robotStars {
                    border: solid greenyellow 1px;
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    li {
                        padding-left: 1em;
                    }
                }
            }
        }
    }
}

// .container-shifumi {
//     display:flex; 
//     flex-direction: row; 
//     justify-content: space-around; 
//     align-items: center;
//     height:20vh;
//     width: 100%;
//     margin-bottom: 20vh;
// }

// .container-shifumi div {
//     height: 35vh;
// }

// .container-shifumi div img {
//     height: auto;
// }

// .container2 {
//     display:flex; 
//     flex-direction: row; 
//     justify-content: space-between; 
//     align-items: center;
//     width: 100%;
// } 

// .container2 .box-joueur {
//     display:flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items : center;
//     width: 100%;
// }

// .container2 .box-joueur img {
//     width: 60%;
//     height: auto;
// }

// .compteuJoueur {
//     background-color: green;
// }

// .compteurOrdi  {
//     background-color: red;
// }