@import url('https://fonts.googleapis.com/css?family=Ultra&display=swap');
$round: 'Ultra', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');
$score: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
$scoreHuman: 'Open Sans Condensed', sans-serif;
$scoreRobot: 'Open Sans Condensed', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');
$human: 'Audiowide', cursive;
$robot: 'Audiowide', cursive;

@import url('https://fonts.googleapis.com/css?family=Medula+One&display=swap');
$humanChoice: 'Medula One', cursive;
$robotChoice: 'Medula One', cursive;

body {
    background: url(./pictures/wordcloud.png) no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    width: 99vw;
    height: 98vh;
}

.panel {
    position: relative;
    margin-top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    width: 86vw;
    height: 30vh;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .score {
        height: 100%;
        color: #fff;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        .scoreHuman {
            position: relative;
            width: 19.5vw;
            height: 26vh;
            border: solid violet 1px;
            margin-top: 3.5vh;
            .human {
                border: solid red 1px;
                text-align: left;
                list-style-type: none;
                padding-left: 3vw;
                height: 100%;
                .humanTitle {
                    border: solid greenyellow 1px;
                    font-family: $score;
                    margin-top: 7vh;
                    margin-bottom: 0;
                }
                .humanBestOf {
                    border: solid greenyellow 1px;
                    font-family: $scoreHuman;
                    margin-top: 0;
                    margin-bottom: 0;
                }
                .humanStars {
                    border: solid greenyellow 1px;
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-top: 0;
                    margin-bottom: 0;
                    li {
                        padding-right: 1vw;
                    }
                }
            }
        }
        .round {
            border: solid blueviolet 2px;
            position: relative;
            width: 49vw;
            display: flex;
            flex-flow: column nowrap;
            .roundNumber {
                border: solid greenyellow 1px;
                h1 {
                    border: solid greenyellow 1px;
                    font-family: $round;
                    text-align: center;
                    margin-top: 1.5vh;
                }
            }
            .playersChoice {
                border: solid greenyellow 1px;
                display: flex;
                width: 100%;
                .humanChoice {
                    border: solid greenyellow 1px;
                    text-align: left;
                    width: 100%;
                    h2 {
                        border: solid greenyellow 1px;
                        font-family: $human;
                    }
                    h3 {
                        border: solid greenyellow 1px;
                        font-family: $humanChoice;
                    }
                }
                .robotChoice {
                    border: solid greenyellow 1px;
                    text-align: right;
                    width: 100%;
                    h2 {
                        border: solid greenyellow 1px;
                        font-family: $robot;
                    }
                    h3 {
                        border: solid greenyellow 1px;
                        font-family: $robotChoice;
                    }
                }
            }
        }
        .scoreRobot {
            position: relative;
            width: 19.5vw;
            height: 26vh;
            border: solid yellowgreen 1px;
            margin-top: 3.5vh;
            .robot {
                border: solid black 1px;
                text-align: right;
                list-style-type: none;
                margin: 0 0;
                padding-right: 3vw;
                height: 100%;
                .robotTitle {
                    border: solid greenyellow 1px;
                    font-family: $score;
                    margin-top: 7vh;
                    margin-bottom: 0;
                }
                .robotBestOf {
                    border: solid greenyellow 1px;
                    font-family: $scoreRobot;
                    margin-top: 0;
                    margin-bottom: 0;
                }
                .robotStars {
                    border: solid greenyellow 1px;
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    margin-top: 0;
                    margin-bottom: 0;
                    li {
                        padding-left: 1vw;
                    }
                }
            }
        }
    }
}

// .container-shifumi {
//     display:flex; 
//     flex-direction: row; 
//     justify-content: space-around; 
//     align-items: center;
//     height:20vh;
//     width: 100%;
//     margin-bottom: 20vh;
// }

// .container-shifumi div {
//     height: 35vh;
// }

// .container-shifumi div img {
//     height: auto;
// }

// .container2 {
//     display:flex; 
//     flex-direction: row; 
//     justify-content: space-between; 
//     align-items: center;
//     width: 100%;
// } 

// .container2 .box-joueur {
//     display:flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items : center;
//     width: 100%;
// }

// .container2 .box-joueur img {
//     width: 60%;
//     height: auto;
// }

// .compteuJoueur {
//     background-color: green;
// }

// .compteurOrdi  {
//     background-color: red;
// }