@import url("https://fonts.googleapis.com/css?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css?family=Medula+One&display=swap");
body {
  background: url(./pictures/wordcloud.png) no-repeat;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  width: 99vw;
  height: 98vh;
}

#panel {
  position: relative;
  margin-top: 1em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 86vw;
  height: 30vh;
}

#panel img {
  position: absolute;
  width: 100%;
  height: 100%;
}

#panel #score {
  height: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#panel #score #scoreHuman {
  width: 22%;
  height: 87%;
  border: solid violet 2px;
  position: relative;
  margin-top: 2.2em;
}

#panel #score #scoreHuman #human {
  border: solid red 1px;
  text-align: left;
  list-style-type: none;
  padding-left: 3em;
  height: 22vh;
}

#panel #score #scoreHuman #human #humanTitle {
  border: solid greenyellow 1px;
  font-family: "Roboto", sans-serif;
}

#panel #score #scoreHuman #human #humanBestOf {
  border: solid greenyellow 1px;
  font-family: "Open Sans Condensed", sans-serif;
}

#panel #score #scoreHuman #human #humanStars {
  border: solid greenyellow 1px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#panel #score #scoreHuman #human #humanStars li {
  padding-right: 1em;
}

#panel #score #round {
  border: solid blueviolet 1px;
  position: relative;
  width: 56%;
}

#panel #score #round #roundNumber {
  border: solid greenyellow 1px;
}

#panel #score #round #roundNumber h1 {
  border: solid greenyellow 1px;
  font-family: "Ultra", sans-serif;
  text-align: center;
}

#panel #score #round #playersChoice {
  border: solid greenyellow 1px;
}

#panel #score #round #playersChoice #humanChoice {
  border: solid greenyellow 1px;
  text-align: left;
}

#panel #score #round #playersChoice #humanChoice h2 {
  border: solid greenyellow 1px;
  font-family: "Audiowide", cursive;
}

#panel #score #round #playersChoice #humanChoice h3 {
  border: solid greenyellow 1px;
  font-family: "Medula One", cursive;
}

#panel #score #round #playersChoice #robotChoice {
  border: solid greenyellow 1px;
  text-align: right;
}

#panel #score #round #playersChoice #robotChoice h2 {
  border: solid greenyellow 1px;
  font-family: "Audiowide", cursive;
}

#panel #score #round #playersChoice #robotChoice h3 {
  border: solid greenyellow 1px;
  font-family: "Medula One", cursive;
}

#panel #score #scoreRobot {
  width: 22%;
  height: 87%;
  border: solid yellowgreen 1px;
  position: relative;
  margin-top: 2.2em;
}

#panel #score #scoreRobot #robot {
  border: solid black 1px;
  text-align: right;
  list-style-type: none;
  margin-right: 3em;
  height: 22vh;
}

#panel #score #scoreRobot #robot #robotTitle {
  border: solid greenyellow 1px;
  font-family: "Roboto", sans-serif;
}

#panel #score #scoreRobot #robot #robotBestOf {
  border: solid greenyellow 1px;
  font-family: "Open Sans Condensed", sans-serif;
}

#panel #score #scoreRobot #robot #robotStars {
  border: solid greenyellow 1px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#panel #score #scoreRobot #robot #robotStars li {
  padding-left: 1em;
}
/*# sourceMappingURL=style.css.map */